body {
    background-color: #56565e;
}

.actionButton {
    text-align: center;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    border-radius: 25px;
    border-color: black;
    transition-duration: 100ms;
}

.actionButton:active {
    background-color: #cccccc;
}

.tabButton {
    background-color: aliceblue;
    border-color: black;
    border-radius: 10px;
    height: 50px;
    width: 95px;
    transition-duration: 100ms;
}

.tabButton:active {
    background-color: #cccccc;
}

.changingText {
    text-align: center;
    position: absolute;
    left: 48%;
}

.genericContainer {
    font-size: 30px;
    background-color: grey;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 300px;
    height: 500px;
}

.tabContainer {
    font-size: 30px;
    background-color: rgb(202, 202, 202);
    position: absolute;
    top: 5%;
    left: 5%;
    width: 300px;
    height: 50px;
}

.upgrade {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-color: gold;
}

#clickedAmountText {
    top: 5%;
}

#layer1End {
    display: none;
    top: 40%;
}

.hidden{
    display: none;
}

#shopHolder{
    left: 80%;
}