html {
    --sidebar-width: 24rem;
    scrollbar-color: grey transparent;
    --color-text: #e0e0e0;
    --color-text-inverted: black;
    --color-base: #335577;
    --color-blue: #1256a3;
    --color-green: #50cc00;
    --color-green-dark: #228855;
    --color-red: #c20a0a;
    --color-purple: #7956c0;
}
body {
    background-color: #1d1d1d;
}
.hidden {
    display: none;
}

.primary-button {
    transition-duration: 200ms;
    border: 0.1rem solid #5ac467;
    border-radius: 1rem;
    color: var(--color-text);
    background-color: var(--color-base);
    font-weight: bold;
    font-size: 1.3rem;
}
.primary-button:disabled {
    border-color: var(--color-red);
}
.primary-button:hover {
    color: var(--color-text-inverted);
    background-color: var(--color-green);
}
.primary-button:disabled:hover {
    background-color: var(--color-red);
}
.primary-button-small {
    height: 50px;
    width: 45%;
    font-size: 1rem;
    margin-right: 10%;
}
.primary-button-bar-tsuki {
    font-size: 1.3rem;
    height: 50px;
    width: 25rem;
    display: flex;
}

.fill-bar {
    height: 100%;
    width: 45%;
    background-color: white;
}
.fill-bar-filled {
    height: 100%;
    background-color: #5ac467;;
}

#forage-table-button {
    height: 100px;
    position: absolute;
    top: 25rem;
    left: 50vw;
    width: 25rem;
    margin-left: -200px;
}

#sell-table {
    position: absolute;
    top: 23rem;
    left: 70vw;
}
/*sellTableBar
#sellTableFill {
    width: 0%;
}*/

#buy-morb {
    position: absolute;
    top: 30rem;
    left: 70vw;
}
/*#buy-morb-bar {
}
#buy-morb-fill {
}
*/

#table-amount-text {
    position: absolute;
    left: calc(50% - 25rem);
    width: 50rem;
    top: 6rem;
    color: var(--color-text);
    text-align: center;
    font-size: 1.1rem;
}
#table-amount {
    font-size: 2.5rem;
}

.log {
    width: 25rem;
    height: 600px;
    background: var(--color-base);
    left: 3vw;
    position: absolute;
    top: 9.375rem;
    border: solid .1rem gray;
    border-radius: 1rem;
    overflow-y: scroll;
}
.log-message {
    display: block;
    font-size: 1.3rem;
    color: var(--color-text);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space-collapse: preserve;
}